:root {
  --backgroundColor: #2d3640;
  --text-color: white;
}
.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.app h1 {
  font-size: 30px;
}
.app-logo {
  height: 40px;
  pointer-events: none;
}
.app-container {
  width: 80vw;
  margin: 0 auto;
}
.app-header {
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  padding: 20px;
  background-color: var(--backgroundColor);
}

.app-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-main > section {
  flex-grow: 1;
}

.app-intro {
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 25px;
}

.app-intro-description {
  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
}
.app-intro-description p {
  margin: 0;
}

.app-main > .app-content {
  display: flex;
  align-items: center;
  background-color: var(--backgroundColor);
}

.app-main > .app-content > div {
  width: 80vw;
  margin: 0 auto;
  color: var(--text-color);
}

.app-lang-switch {
  float: right;
  margin-top: 15px;
  min-width: 100px;
}
